@use "../_variables" as vars;

$menu-side-padding: 20px;

.header {
    background-color: #32414c;
    padding: 10px 0;
    text-align: left;
    vertical-align: middle;
    height: vars.$header-height;
    font-family: "Open Sans",
        sans-serif;
    size: 14px;
    font-weight: 600;
    color: white;
    position: fixed;
    transform: translateZ(0);
    width: 100%;
    z-index: 2;
    backface-visibility: hidden;
    display: flex;
    justify-content: space-between;

    div:first-child {
        align-content: space-around;
        display: flex;
        padding-left: $menu-side-padding;

        .header-img {
            width: 40px;
            border-radius: 4px;
            margin-right: 10px;
            mask-image: radial-gradient(circle at center,
                    white 50%,
                    /* Inner part is fully visible */
                    /* Outer part fades to transparent */
                    rgba(255, 255, 255, 0) 75%);
            -webkit-mask-image: radial-gradient(
                    /* For older WebKit browsers */
                    circle at center,
                    white 50%,
                    rgba(255, 255, 255, 0) 75%);

            &+div {
                min-width: 100px;
            }
        }

        * {
            align-self: center;
        }
    }

    .input-container {
        flex: 1;
        display: flex;
        min-width: 500px;
        max-width: 700px;

        input.search {
            color: white;
            background-color: #32414c;
            border: rgb(128, 128, 128) 1px solid;
            border-radius: 4px;
            font-family: "Open Sans", sans-serif;
            padding: 0 10px;
            max-width: 500px;
            flex: 2;
            margin: 0 10px;

            &:focus {
                outline: none;
                border-color: #5fb4f0;
                color: #fff;
                transition: all 0.2s ease-in-out;
            }
        }

        button.refreshGames {
            cursor: pointer;
            background: transparent;
            box-shadow: none;
            padding: 6px 12px;
            font-size: 13px;
            font-weight: 700;
            color: #5fb4f0;
            white-space: nowrap;
            vertical-align: middle;
            border: 1px solid #5fb4f0;
            border-radius: 6px;
            user-select: none;
            appearance: none;
            margin: 0 10px;

            &:hover,
            &:focus {
                outline: none;
                background-color: #5fb4f0;
                color: #fff;
                transition: all 0.2s ease-in-out;
            }

            &:active,
            &.pseudo-active {
                background-color: #b8daf3;
                color: #8e7f7f;
                transition: all 0.2s ease-in-out;
            }

            &:disabled {
                opacity: 50%;
                pointer-events: none;
                cursor: not-allowed;
            }
        }
    }

    button.login,
    .menu {

        &.menu-disabled {
            pointer-events: none;
            cursor: default;
            opacity: 0.5;
        }

        .user {
            width: 140px;
            opacity: 100%;
            transition: opacity 200ms;
        }

        .menu-caret {
            align-self: flex-start;
            font-size: larger;
            margin-left: 4px;
        }

        @-moz-document url-prefix() {
            .menu-caret {
                align-self: center;
            }
        }

        .logout {
            opacity: 0;
            margin-left: -140px;
            z-index: 1;
            width: 140px;
        }

        &:hover,
        &.active {
            cursor: pointer;
            box-shadow: -2px 0px 8px 5px #5fb4f0;
        }
    }

    .menu,
    .login {
        transition: box-shadow 0.2s ease-in-out;
        user-select: none;

        display: flex;
        align-items: center;
        height: fit-content;
        padding-right: $menu-side-padding;

        img {
            margin-right: 7px;
            border-radius: 3px;
        }

        &.menu {
            border-radius: 15px;
        }
    }

    button.login {
        width: 160px;
        height: 30px;
        margin-right: $menu-side-padding;
        background-image: url('./steam-sign-in.png');
        background-size: 160px 30px;
    }
}
