@use "../_variables" as vars;

$margin: 0 30px;
$padding: 20px;

.app-body {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans",
        sans-serif;
    // font-size: calc(10px + 2vmin);
    color: white;
    position: fixed;
    padding-top: vars.$header-height;
    width: -webkit-fill-available;
    width: -moz-available;

    .loading-container {
        margin: auto;

        a {
            text-decoration: none;
            color: #5fb4f0;
        }
    }
}

.container {
    display: flex;
    overflow: clip;
    width: 100vw;
    max-height: 100vh;
    margin: 15px 0;

    .update-container {
        overflow: auto;
    }

    .os-windows.update-container::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: transparent;
    }

    .os-windows.update-container::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
    }

    .os-windows.update-container:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .os-windows.update-container:hover::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
    }

    /* For elements with the class 'game-list' */
    .game-list {
        overflow: auto;
    }

    .os-windows.game-list::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: transparent;
    }

    .os-windows.game-list::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
    }

    .os-windows.game-list:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.4) !important;
    }

    .os-windows.game-list:hover::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

    .update-container {
        flex-grow: 1;
        overflow-x: auto;
        overflow-y: scroll;
        min-width: 50vw;
        // max-width: 70vw;
        max-height: 100vh;

        .update {
            size: 12px;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            color: #5fb4f0;
        }

    }
}

.container-header {
    display: flex;
    justify-content: space-around;
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 20px 0;
    background-color: #282c34;
    margin-right: 30px;

    div {
        padding: 0px 10px 0px 0px;
    }
}

.game-capsule {
    border-radius: 4px;
}

.update-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    margin: 0 30px 0 0;
    padding: $padding;
    background-color: #32414c;
    border: rgb(128, 128, 128) 1px solid;
    font-family: "Open Sans", sans-serif;
    color: rgb(221, 221, 221);
    margin-bottom: 50px;
    opacity: 0;

    a {
        color: rgb(0, 175, 244);
    }

    details {
        width: fit-content;
        margin: 5px 0;
        padding: 5px;
        background-color: rgb(57, 73, 96);
        border: rgb(128, 128, 128) 1px solid;
    }

    .update-header {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .update-title {
            width: fit-content;
            text-align: left;

            .update-headline {
                padding-bottom: 5px;
                font-size: 18px;
                font-weight: 800;

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                        color: rgb(155, 209, 231);
                        transition: 200ms;
                    }
                }
            }

            .update-post-time {
                font-size: 12px;
                font-weight: 600;
            }
        }

        .game-capsule {
            width: 300px;
        }
    }

    .update-divider {
        opacity: 50%;
        width: 100%;
        height: 1px;
        margin: 20px 0;
        background-color: rgb(128, 128, 128);
    }

    .update-body {
        align-self: flex-start;
        text-align: left;

        img {
            max-width: 100%;
        }

        blockquote {
            display: table;
            box-sizing: border-box;
            border: 1px solid #56707f;
            border-radius: 3px;
            padding: 12px;
            margin: 8px;
            font-size: 92%;
        }

        .alert {
            vertical-align: middle;
            width: 20px;
            height: 20px;
            transition-property: width, height, margin-top, margin-bottom;
            transition-duration: .1s;
            transition-timing-function: ease-in-out;
        }
    }
}

.game-list {
    size: 12px;
    overflow-y: scroll;
    width: 30vw;
    min-width: 500px;
    max-width: 600px;
    max-height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #5fb4f0;
    text-align: left;

    .newly-added {
        background-color: rgba(50, 100, 180, 0.35);
        box-shadow: inset 0px 0px 40px rgba(50, 100, 180, 0.9);
    }

    .game-list-header {
        display: flex;
        position: sticky;
        z-index: 1;
        top: 0;
        padding: 20px 0;
        background-color: #282c34;
        min-width: 400px;
        margin: 0 30px;
        text-align: center;

        .patch-title-header {
            &:first-child {
                width: 150px;
            }

            &:nth-child(2) {
                width: fit-content;
                min-width: 155px;
            }

            &:last-child {
                width: 250px;
            }
        }
    }

    .patch-date {
        width: 150px;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }

    .game-title {
        align-self: center;
        width: fit-content;
        padding-right: 0;
    }

    .patch-title {
        width: 250px;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }

    .empty-game {
        height: 59px;
    }

    .game {
        display: flex;
        justify-content: space-between;
        min-width: 400px;
        margin: $margin;
        padding: 5px;
        background-color: #32414c;
        border: rgb(128, 128, 128) 1px solid;

        &:hover {
            transition: 500ms;
            background-color: rgb(57, 73, 96);
            border-color: white;
        }

        &:active {
            transition: 500ms;
            background-color: rgb(136, 152, 174);
            border-color: white;
        }

        &.selected {
            transition: 500ms;
            background-color: rgb(73, 105, 149);
            border-color: white;
        }

        & div.patch-date {
            padding: 0px 10px 0px 0px;
        }

        .patch-date {
            width: 150px;
            margin-top: auto;
            margin-bottom: auto;
        }

        .patch-title {
            width: 250px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 5px;
        }

        .game-title {
            width: fit-content;
            height: 59px;
            padding-right: 0;
        }

        #game-update {
            flex-grow: 2;
        }

        img {
            width: 155px;
            height: 59px;
        }
    }
}
